body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.profile-image-container {
    position: relative;
    overflow: hidden;
    margin: -100px auto 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(110, 110, 110, 0.705); /* Sombra más sutil alrededor del section */
}

.profile-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(3px);
    z-index: -1;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    position: relative;
    max-width: 800px;
    padding: 40px;
    background-color: rgb(14, 14, 14);
    z-index: 2;
    margin: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(110, 110, 110, 0.705);
    animation: fadeIn 0.4s ease;
}
h1 {
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s ease;

}

p {
    font-family: 'Comfortaa', sans-serif;
    line-height: 1.6;
    color: #ddd;
    animation: fadeIn 1s ease;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.social-icon {
    margin: 0 30px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    display: block;
}

.social-icon img:hover {
    transform: scale(1.2) translate(-15px, -15px); 
    filter: brightness(1.2);
}



#Discord {
    margin-left: 130px;
    margin-top: 160px;
}

#youtube {
    margin-left: 0px;
    margin-top: 160px;
}

#github {
    margin-left: -130px;
    margin-top: 160px;
}

#github:hover{
    transform: scale(1.2) translate(-15px, -15px); 
}

#Discord:hover{
    transform: scale(1.2) translate(-15px, -15px); 
}

#youtube:hover{
    transform: scale(1.2) translate(-15px, -15px);
}


section:hover {
    transform: scale(1.05);
}

section:not(:hover) {
    transform: scale(1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    .profile-image-container {
        margin: 0 auto 10px; /* Reducimos el margen inferior para que no se salga de la pantalla en dispositivos móviles */
        width: 100px; /* Reducimos el tamaño de la imagen para dispositivos móviles */
        height: 100px; /* Reducimos el tamaño de la imagen para dispositivos móviles */
    }

    .social-icons {
        margin-top: 60px; /* Reducimos el margen superior para alinear mejor los iconos en dispositivos móviles */
    }

    .social-icon {
        margin: 0 5px; /* Reducimos el margen entre los iconos para dispositivos móviles */
    }

    .social-icon img {
        width: 30px; /* Reducimos el tamaño de los iconos para dispositivos móviles */
        height: 30px; /* Reducimos el tamaño de los iconos para dispositivos móviles */
    }

    #Discord {
        margin-left: 70px;
        margin-top: 260px;
    }

    #youtube {
        margin-left: 0px;
        margin-top: 260px;
    }

    #github {
        margin-left: -70px;
        margin-top: 260px;
    }

    #github:hover{
        transform: scale(1.2) translate(-15px, -15px); 
    }

    #Discord:hover{
        transform: scale(1.2) translate(-15px, -15px); 
    }

    #youtube:hover{
        transform: scale(1.2) translate(-15px, -15px);
    }
        #particles-js {
        display: none; /* Ocultar las partículas en dispositivos móviles */
    }


}
